<!-- Navbar -->
<nav class="navbar navbar-toggleable-md bg-primary" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
      <a class="navbar-brand" routerLink="/pocetna" rel="tooltip" title="Taxi Prime" data-placement="bottom" target="_self">
        <b style="color:#ffffff;">{{AppTitle}}</b>
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/0055.jpg">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Korisnici" data-placement="bottom" routerLink="/korisnici" target="_self">
            <i class="fa fa-user"></i>
            <p class="hidden-lg-up">Korisnici</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Stranke" data-placement="bottom" routerLink="/stranke" target="_self">
            <i class="fa fa-users"></i>
            <p class="hidden-lg-up">Stranke</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Vozaci" data-placement="bottom" routerLink="/vozaci" target="_self">
            <i class="fa fa-male"></i>
            <p class="hidden-lg-up">Vozaci</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Vozila" data-placement="bottom" routerLink="/vozila" target="_self">
            <i class="fa fa-taxi"></i>
            <p class="hidden-lg-up">Vozila</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Zahtevi" data-placement="bottom" routerLink="/zahtevi" target="_self">
            <i class="fa fa-list"></i>
            <p class="hidden-lg-up">Zahtevi</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Lokacije" data-placement="bottom" routerLink="/lokacije" target="_self">
            <i class="now-ui-icons location_pin"></i>
            <p class="hidden-lg-up">Lokacije</p>
          </a>
        </li>



        <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-1/p24x24/16425978_10207904336438953_5995060325164819075_n.jpg?oh=63a85d073db13df33d4218430acbb4bb&oe=5A15A13D" width="24px" height="24px" style="border-radius: 24px;">
          <p>Nalog</p>
        </a>
        <div class="dropdown-menu show" aria-labelledby="navbarDropdownMenuLink">
          <div><img src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-1/p40x40/16425978_10207904336438953_5995060325164819075_n.jpg?oh=8dcf547bc0015eb36f60e2cfe8e0a1fc&oe=5A52E93E" width="32px" height="32px" style=" margin: 5px; margin-left: 10px; border-radius: 32px;"><b> Nebojsa Grujic</b></div>
          <hr style="margin: 10px;">
          <a class="dropdown-item" href="#">Profil</a>
          <a class="dropdown-item" href="#">Podesavanja naloga</a>
          <a class="dropdown-item" href="#">Izloguj me. <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
        </li>


      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->