<app-navigacija></app-navigacija>
<div class="wrapper">
 <div class="container">
   <div class="col-md-12">
       <form class="form" method="" action="" name="zahtevi">
         <div class="row">
           <div class="col-sm-2">
             <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Polaziste: Đure Đakovića bb" data-placement="bottom">
                    <i class="fa fa-arrow-up"></i>
                </span>
                <input type="text" id="polaziste" name="polaziste" class="form-control" #zahtevPolaziste placeholder="Polaziste">
             </div>
           </div>

           <div class="col-sm-2">
             <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Odrediste: Nemanjina 16" data-placement="bottom">
                    <i class="fa fa-arrow-down"></i>
                </span>
               <input type="text" id="odrediste" name="odrediste" class="form-control" #zahtevOdrediste placeholder="Odrediste">
             </div>
           </div>

           <div class="col-sm-2">
             <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Stalna stranka: Ime, Telefon" data-placement="bottom">
                    <i class="fa fa-users"></i>
                </span>
               <input type="text" id="stranka" name="stranka" class="form-control" #zahetvStranka placeholder="Stranka">
             </div>
           </div>

           <div class="col-sm-2">
             <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Redni broj vozila: [43]" data-placement="bottom">
                    <i class="fa fa-taxi"></i>
                </span>
               <input type="number" id="vozilo" name="vozilo" class="form-control" #zahtevVozilo placeholder="Vozilo">
             </div>
           </div>

           <div class="col-sm-2">
             <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Dizina u kilometrima PR: 3.8" data-placement="bottom">
                    <i class="fa fa-clock-o"></i>
                </span>
               <input type="number" id="trajanje" name="trajanje" class="form-control" #zahtevTrajanje placeholder="Trajanje">
             </div>
           </div>
             <div class="col-md-1 text-center">
                 <button class="btn btn-primary btn-round btn-block" (click)="sacuvajZahtev(zahtevPolaziste.value, zahtevOdrediste.value,zahetvStranka.value,zahtevVozilo.value,zahtevTrajanje.value)">
                     <i class="now-ui-icons ui-1_simple-add"></i>
                 </button>
             </div>
             <div class="col-md-1 text-center">
                 <button class="btn btn-primary btn-round btn-block" (click)="ucitajZahteve()">
                     <i class="now-ui-icons loader_refresh"></i>
                 </button>
             </div>
         </div>
       </form>
   </div>
 </div>
</div>

<div class="table-container" style="margin-top:100px;">
  <div class="container">
    <div class="row">
    <div class="col-md-9">
      <h3>Zahtevi</h3>
      <table class="table table-striped">
        <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Polaziste</th>
          <th>Odrediste</th>
          <th>Stranka</th>
          <th>Vozilo</th>
          <th>Trajanje</th>
          <th>Cena</th>
          <th>Dispečer</th>
          <th>Status</th>
          <th style="text-align: center;">Action</th>
        </tr>
        </thead>
        <tbody *ngFor="let zahtev of zahtevi">
        <tr>
          <th scope="row"><div class="checkbox">
            <input id="checkbox{{zahtev.id}}" type="checkbox">
            <label for="checkbox{{zahtev.id}}">
              {{zahtev.id}}
            </label>
          </div></th>
          <td>{{zahtev.polaziste}}</td>
          <td>{{zahtev.odrediste}}</td>
          <td>{{zahtev.stranka}}</td>
          <td>{{zahtev.vozilo}}</td>
          <td>{{zahtev.trajanje}}</td>
          <th>{{zahtev.cena}}</th>
          <td>{{zahtev.korisnik}}</td>
          <td>{{zahtev.status}}</td>
          <td>
            <!--<button class="btn btn-info" ><i class="fa fa-edit"></i></button>-->
            <button class="btn btn-danger" (click)="obrisiZahtev(zahtev.id)"><i class="now-ui-icons ui-1_simple-remove"></i></button>
        </tr>
        </tbody>
      </table>
    </div>
        <div class="col-md-3 content-center">
            <h3>Azuriraj</h3>
            <div class="card card-plain" >
                <form class="form" method="" action="" name="azurirajVozilo" >
                    <div class="content">

                        <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Id Vozila" data-placement="right">
                                                <i class="fa fa-hashtag"></i>
                                            </span>
                            <input type="number" class="form-control" #azurirajId placeholder="Id">
                        </div>

                        <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Polaziste: Đure Đakovića bb" data-placement="right">
                                                <i class="fa fa-arrow-up"></i>
                                            </span>
                            <input type="text" class="form-control" #azurirajPolaziste value="{{preuzmiZahtev(zahtevi_d)}}" placeholder="Polaziste">
                        </div>

                        <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Odrediste: Nemanjina 16" data-placement="right">
                                                <i class="fa fa-arrow-down"></i>
                                            </span>
                            <input type="text" class="form-control" #azurirajOdrediste  placeholder="Odrediste">
                        </div>

                        <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Stranka: Ime, Telefon" data-placement="right">
                                                <i class="fa fa-users"></i>
                                            </span>
                            <input type="text" class="form-control" #azurirajStranka  placeholder="Stranka">
                        </div>

                        <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Redni broj vozila: [43]" data-placement="right">
                                                <i class="fa fa-cab"></i>
                                            </span>
                            <input type="text" class="form-control" #azurirajVozilo  placeholder="Vozilo">
                        </div>

                        <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Duzina u kilometrima PR: 3.8" data-placement="right">
                                                <i class="fa fa-clock-o"></i>
                                            </span>
                            <input type="number" class="form-control" #azurirajTrajanje  placeholder="Trajanje">
                        </div>

                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-info btn-lg btn-block" (click)="azurirajZahtev(azurirajId.value, azurirajPolaziste.value, azurirajOdrediste.value,azurirajStranka.value,azurirajVozilo.value,azurirajTrajanje.value)"><i class="now-ui-icons ui-1_check"></i> Azuriraj</a>
                        <a class="btn btn-info btn-lg btn-block" (click)="preuzmiZahtev(azurirajId.value, azurirajPolaziste.value, azurirajOdrediste.value,azurirajStranka.value,azurirajVozilo.value,azurirajTrajanje.value)"><i class="now-ui-icons ui-1_check"></i> Azuriraj</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
  </div>
</div>



