<app-navigacija></app-navigacija>
<div class="wrapper">
    <div class="container">
        <div class="col-md-12">
            <form class="form" method="" action="">
                <div class="row">

                    <div class="col-sm-2">
                        <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Marka Vozila" data-placement="bottom">
                    <i class="fa fa-car"></i>
                </span>
                            <input type="text" class="form-control" #voziloMarka placeholder="Marka">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Model Vozila" data-placement="bottom">
                    <i class="fa fa-taxi"></i>
                </span>
                            <input type="text" class="form-control" #voziloModel placeholder="Model">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Redni Broj Vozila" data-placement="bottom">
                    <i class="fa fa-hashtag"></i>
                </span>
                            <input type="number" class="form-control" #voziloRb placeholder="RB">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Tablice: BG-011-SX" data-placement="bottom">
                    <i class="fa fa-table"></i>
                </span>
                            <input type="text" class="form-control" #voziloTablice placeholder="Tablice">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="datepicker-container">
                            <div class="form-group">
                                <input type="text" class="form-control date-picker" #voziloRegistracija value="10/05/2016" data-datepicker-color="primary">
                            </div>
                        </div>
                    </div>

                    <!-- Action Buttons-->
                    <div class="col-md-1 text-center">
                        <button class="btn btn-primary btn-round btn-block" (click)="sacuvajVozilo(voziloMarka.value,voziloModel.value,voziloRb.value,voziloTablice.value,voziloRegistracija.value,voziloVozac.value,voziloSlika.value)">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                        </button>
                    </div>
                    <div class="col-md-1 text-center">
                        <button class="btn btn-primary btn-round btn-block" (click)="ucitajVozila()">
                            <i class="now-ui-icons loader_refresh"></i>
                        </button>
                    </div>
                    <!--End Action Buttons -->
                    <div class="col-sm-2">
                        <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="Ime" data-placement="bottom">
                    <i class="fa fa-user-o"></i>
                </span>
                            <input type="text" class="form-control" #voziloVozac placeholder="Vozac">
                        </div>
                    </div>

                    <div class="col-sm-2">
                    <div class="input-group form-group-no-border">
                <span class="input-group-addon" rel="tooltip" title="URL" data-placement="bottom">
                    <i class="fa fa-picture-o"></i>
                </span>
                        <input type="text" class="form-control" #voziloSlika placeholder="Slika">
                    </div>
                </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div class="table-container" style="margin-top:100px;">
    <div class="container">
        <div class="row">
        <div class="col-md-9">
            <h3>Vozila</h3>
            <table class="table table-striped">
                <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>slika</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>RB</th>
                    <th>Tablice</th>
                    <th>Registracija</th>
                    <th>Vozac</th>
                    <th style="text-align: center;">Action</th>
                </tr>
                </thead>
                <tbody *ngFor="let vozilo of vozila">
                <tr>
                    <th scope="row"><div class="checkbox">
                        <input id="checkbox{{vozilo.id}}" type="checkbox">
                        <label for="checkbox{{vozilo.id}}">
                            {{vozilo.id}}
                        </label>
                    </div></th>
                    <td><img src="{{vozilo.slika}}" width="42px" height="42px;"></td>
                    <td>{{vozilo.marka}}</td>
                    <td>{{vozilo.model}}</td>
                    <td>{{vozilo.rb}}</td>
                    <td>{{vozilo.tablice}}</td>
                    <td>{{vozilo.registracija}}</td>
                    <th>{{vozilo.vozac}}</th>
                    <td>
                        <!--<button class="btn btn-info" ><i class="fa fa-edit"></i></button>-->
                        <button class="btn btn-danger" (click)="obrisiVozilo(vozilo.id)"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                </tr>
                </tbody>
            </table>
            </div>
                <div class="col-md-3 content-center">
                    <h3>Azuriraj</h3>
                    <div class="card card-plain">
                        <form class="form" method="" action="" name="azurirajVozilo">
                            <div class="content">
                                    <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Id Vozila" data-placement="right">
                                                <i class="fa fa-hashtag"></i>
                                            </span>
                                        <input type="number" class="form-control" #azurirajId placeholder="Id">
                                    </div>

                                    <div class="input-group form-group input-lg">
                                        <span class="input-group-addon" rel="tooltip" title="Marka Vozila" data-placement="right">
                                            <i class="fa fa-car"></i>
                                        </span>
                                        <input type="text" class="form-control" #azurirajMarka placeholder="Marka">
                                    </div>

                                    <div class="input-group form-group input-lg">
                                        <span class="input-group-addon" rel="tooltip" title="Model Vozila" data-placement="right">
                                            <i class="fa fa-cab"></i>
                                        </span>
                                        <input type="text" class="form-control" #azurirajModel placeholder="Model">
                                    </div>

                                    <div class="input-group form-group input-lg">
                                        <span class="input-group-addon" rel="tooltip" title="Redni Broj Vozila" data-placement="right">
                                            <i class="fa fa-hashtag"></i>
                                        </span>
                                        <input type="text" class="form-control" #azurirajRb placeholder="RB">
                                    </div>

                                    <div class="input-group form-group input-lg">
                                        <span class="input-group-addon" rel="tooltip" title="Tablice: BG-011-SX" data-placement="right">
                                            <i class="fa fa-table"></i>
                                        </span>
                                        <input type="text" class="form-control" #azurirajTablice placeholder="Tablice">
                                    </div>

                                    <div class="datepicker-container">
                                        <div class="form-group input-lg">
                                            <input type="text" class="form-control date-picker" #voziloRegistracija value="10/05/2016" data-datepicker-color="primary">
                                        </div>
                                    </div>

                                    <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="Vozac" data-placement="right">
                                                <i class="fa fa-user-o"></i>
                                            </span>
                                        <input type="text" class="form-control" #azurirajVozac placeholder="Vozac">
                                    </div>

                                    <div class="input-group form-group input-lg">
                                            <span class="input-group-addon" rel="tooltip" title="URL" data-placement="right">
                                                <i class="fa fa-picture-o"></i>
                                            </span>
                                        <input type="text" class="form-control" #azurirajSlika placeholder="Slika">
                                    </div>


                            </div>
                            <div class="footer text-center">
                                <a href="#pablo" class="btn btn-info btn-lg btn-block"><i class="now-ui-icons ui-1_check"></i> Azuriraj</a>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
