<!-- Navbar -->
<nav class="navbar navbar-toggleable-md  fixed-top bg-primary navbar-transparent  " color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
      <a class="navbar-brand" href="http://demos.creative-tim.com/now-ui-kit/index.html" rel="tooltip" title="Taxi Prime -- Next Level Taxi App!" data-placement="bottom" target="_blank">
        TAXI PRIME BY SENSAHEX
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!--a class="nav-link" href="../index.html">Back to Kit</a-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://cyber1an.bitbucket.io/help">Have an issue?</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/0055.jpg'); background-size: cover;">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title text-center">Welsome to TaxiPrime</h1>
        <h3 class="category">v1.0.0</h3>
        <h4 class="description text-center">The number one taxi solutions for consumers and businesses worldwide. Find and book taxis easily using Taxi Prime.</h4>
        <a routerLink="/zahtevi" class="btn btn-default btn-lg btn-round"><i class="fa fa-play-circle" aria-hidden="true"></i> Get Started</a>
      </div>
    </div>
  </div>
</div>

